/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.App-header nav a:hover {
  text-decoration: underline;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.route-filter {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
}
